<?xml version="1.0"?>
<configuration>
  <system.web>


    <!--授权访问-->
    <authorization>
      <!--拒绝匿名用户登录-->
      <deny users="?"/>
    </authorization>



    <!--设置整个网站编码 -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="zh-CN" uiCulture="zh-CHS"/>



  </system.web>
</configuration>
